*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#111;
color:white;
}

nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

background:#000;

}

nav ul{

display:flex;
list-style:none;
gap:30px;

}

nav a{

text-decoration:none;
color:#d4af37;

}

.hero{

text-align:center;
padding:80px 20px;

}

.logo{

width:180px;
border-radius:50%;

}

.hero h1{

font-size:50px;
margin:20px;

}

.btn{

display:inline-block;
padding:15px 35px;
background:#d4af37;
color:black;
text-decoration:none;
border-radius:30px;
font-weight:bold;

}

.produtos{

padding:80px 8%;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

margin-top:30px;

}

.card{

background:#1d1d1d;

padding:30px;

border-radius:15px;

text-align:center;

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

}

footer{

text-align:center;

padding:30px;

background:#000;

margin-top:50px;

}
